html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #2B2B2B;
}

header, footer {
	width: 100%;
	height: 8%;
	color: white;
	font-size: 40px;
	font-weight: bold;
	line-height: 150%;
	position:absolute;
	text-align: center;
	background-color: #222;
	font-family:  'Georgia';
}

header{
	top:0;
}
footer{
	bottom:0;
}
@media screen{
	header{
		position:fixed;
	}
	footer{
		position:fixed;
	}
}
body{
	overflow:hidden;
} 
#main{
	height:100%;
	overflow:auto;
	width: 100%;
	margin-top: 6%;
}

#container{
	width: 80%;
	float: left;
	height: 60%;
}

#carousel {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: gray;
}


#larrow {
	width: 10%;
	float: left;
	height: 100%;
}

#rarrow {
	width: 10%;
	float:right;
	height: 100%;
}

#images {
	margin: 0;
	padding: 0;
	width: 500%;
	height: 100%;
    list-style:none;
    overflow:hidden;    
    position:relative;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
}

@keyframes carousel{
    0%    { left:0; }
    11%   { left:0; }
    12.5% { left:-100%; }
    23.5% { left:-100%; }
    25%   { left:-200%; }
    36%   { left:-200%; }
    37.5% { left:-300%; }
    48.5% { left:-300%; }
    50%   { left:-400%; }
    61%   { left:-400%; }
    62.5% { left:-300%; }
    73.5% { left:-300%; }
    75%   { left:-200%; }
    86%   { left:-200%; }
    87.5% { left:-100%; }
    98.5% { left:-100%; }
    100%  { left:0; }
}

img {
	display: block;
	max-width: 100%;
}

li {
	width: 20%;
	float: left;
	height: 100%;
	position: relative;
}

a{
	background-color: lightgray;
	width: 10%;
	height: 60%;
}

a#left {
	float: left;
}
a#right{
	float: right;
}